* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body 
{
    font-family: sans-serif;
    background: #222831;
    color: white;
}
  
header,nav,section,.content-container,footer 
{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* ========== Menu ==========*/
header 
{
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 1em 8em;
    background: #161a20;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
  
#logo 
{
    width: 5vh;
    transition: 0.3s;
}
  
#logo:hover
{
    transform: scale(1.2);
}
  
nav 
{
    justify-content: space-between;
    width: 40%;
}
  
nav a 
{
    text-decoration: none;
    color: #fff;
    padding: 1em 2em;
    border: 0.1vh solid transparent;
    border-radius: 0.3em;
    transition: 0.3s;
    font-size: 1.6vh;
}
  
nav a:hover 
{
    border: 0.1vh solid #f05454;
}
  
  /* ========== Hero Section ==========*/
section 
{
    width: 100%;
    height: 100vh;
}
  
/* ========== Footer ==========*/
footer 
{
    background: #161a20;
    padding: 3em;
}
  
::-webkit-scrollbar 
{
    width: 1vh;
    border-radius: 1vh;
    background-image: linear-gradient(45deg,red,blue,yellow,green);
    background-size: auto 300%;
    background-position: top;
}

::-webkit-scrollbar:hover
{
    transition: 2s;
    background-position: bottom;
}


::-webkit-scrollbar-thumb
{
    border-radius: 1vh;
    background: rgba(255, 255, 255,1);
}

::-webkit-scrollbar-thumb:hover
{
    background: rgba(255, 255, 255,0.5);
}

html
{
    scrollbar-width: thin;
    scrollbar-color: rgb(255,0,0) rgb(0,255,0);
    transition: 2s;
}

html:hover
{
    scrollbar-color: rgb(0,0,255) rgb(0,255,0);
}



.loader1
{
    width: 20vh;
    height: 20vh;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 85% 15% 13% 87% / 86% 89% 11% 14%;
    animation: loader1 2s infinite ease-in-out alternate;
}

@keyframes loader1 {
    0% {border-radius: 85% 15% 13% 87% / 86% 89% 11% 14%;border-color:rgb(255, 255, 255)}
    50%{border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;border-color:rgb(127, 127, 255)}
    100%{border-radius: 15% 85% 87% 13% / 14% 11% 89% 86%;border-color:rgb(0, 0, 255)}
}

.loader2
{
    width: 20vh;
    height: 20vh;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: loader2 2s infinite ease-in-out alternate;
}

@keyframes loader2 {
    0% {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;border-color:rgb(255, 255, 255)}
    50%{border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;border-color:rgb(127, 255, 127)}
    100%{border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;border-color:rgb(0, 255, 0)}
}

.loader3
{
    width: 20vh;
    height: 20vh;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
    animation: loader3 2s infinite ease-in-out alternate;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-1
{
    flex-direction: column;
}

@keyframes loader3 {
    0% {border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;border-color: rgb(255, 255, 255);}
    50%{border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;border-color: rgb(255, 127, 127);}
    100%{border-radius: 0% 110% 50% 50% / 50% 110% 0% 50%; border-color: rgb(255, 0, 0);}
}

.ContainerBlockTxt
{
    width: 100vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
}

.BlockTxt-right,.BlockTxt-top,.BlockTxt-left,.BlockTxt-bottom
{
    border: 0.2vh solid rgb(255, 255, 255);
    width: 20vh;
    height: 10vh;
    margin: 0vh 5vh;
}

.BlockTxt-right::before,.BlockTxt-top::before,.BlockTxt-left::before,.BlockTxt-bottom::before
{
    content: "";
    width: 20vh;
    height: 10vh;
    display: block;
    background: linear-gradient(90deg,rgb(222, 222, 222),rgb(155, 155, 155));
    transform: translateX(-2vh) translateY(-2vh);
}

.BlockTxt-right::after,.BlockTxt-top::after,.BlockTxt-left::after,.BlockTxt-bottom::after
{
    color: white;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 10vh;
    display: flex;
    font-size: 3vh;
    background-image: linear-gradient(90deg,rgb(191,0,0),rgb(255,0,0),rgb(0,0,191),rgb(0, 0, 255));
    background-size: 300%;
    background-position: right;
    transform: translateX(-2vh) translateY(-12vh);
}

.BlockTxt-right::after
{
    content: "Right";
}


.BlockTxt-top::after
{
    content: "Top";
}


.BlockTxt-left::after
{
    content: "Left";
}


.BlockTxt-bottom::after
{
    content: "Bottom";
}

.BlockTxt-right:hover::after,.BlockTxt-top:hover::after,.BlockTxt-left:hover::after,.BlockTxt-bottom:hover::after
{
    transition: 0.5s;
    transform: translateX(2vh) translateY(-8vh);
    background-position: left;
}

.BlockTxt-right:not(:hover)::after,.BlockTxt-top:not(:hover)::after,.BlockTxt-left:not(:hover)::after,.BlockTxt-bottom:not(:hover)::after
{
    transition: 0.5s 0.1s;
}

.BlockTxt-right:hover::before,.BlockTxt-top:hover::before,.BlockTxt-left:hover::before,.BlockTxt-bottom:hover::before
{
    transition: 0.5s;
    transform: translateX(4vh) translateY(4vh);
}

.BlockTxt-right:not(:hover)::before,.BlockTxt-top:not(:hover)::before,.BlockTxt-left:not(:hover)::before,.BlockTxt-bottom:not(:hover)::before
{
    transition: 0.5s 0.1s;
}

.Notif
{
    width: 6vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NotifStart
{
    padding-left: 2vh;
    padding-top: 2vh;
}

.Notif:hover
{
    height: 36vh;
    width: 30vh;
    transition: 2s;
}

.Notif:hover > .NotifStart
{
    width: 30vh;
    border-radius: 3vh 3vh 0vh 0vh;
    transition: 2s;
    background: rgb(127, 127, 255);
}

.Notif:hover > .NotifLine, .Notif:hover > .NotifElem, .Notif:hover > .NotifEnd, .Notif:hover .Circle
{
    opacity: 1;
    transition: 2s;
}

.Circle
{
    background: rgb(127, 127, 255);
    color: white;
    opacity: 0;
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vh;
    margin-right: 1vh;
}

.NotifElem > p
{
    color: black;
}

.NotifElem:hover
{
    transform: scale(1.1);
    background: rgb(127, 127, 255);
    border-radius: 1vh;
}

.Notif:not(:hover), .Notif:not(:hover) > .NotifLine, .Notif:not(:hover) > .NotifElem, .Notif:not(:hover) > .NotifEnd, .Notif:not(:hover) > .NotifStart, .Notif:not(:hover) .Circle
{
    transition: 2s 0.1s;
}

.NotifElem:hover > .Circle
{
    background: white;
    color: rgb(127, 127, 255);
    transition: 2s;
}

.NotifElem:hover > p
{
    color: white;
    transition: 2s;
}

.Notif:hover > .NotifLine, .Notif:hover > .NotifEnd
{
    height: 3vh;
    width: 30vh;
    transition: 2s;
}

.Notif:hover > .NotifElem
{
    height: 6vh;
    width: 30vh;
    transition: 2s;
}

.NotifStart
{
    width: 6vh;
    height: 6vh;
    background: white;
    border-radius: 3vh;
    display: flex;
}

.NotifLine, .NotifEnd
{
    width: 0vh;
    height: 0vh;
    background: white;
    opacity: 0;
}

.NotifEnd
{
    border-radius: 0vh 0vh 3vh 3vh;
}

.NotifElem
{
    height: 0vh;
    width: 0vh;
    background: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#section-2
{
    display: flex;
    flex-direction:column;
}



#section-3 > div
{
    width: 30vh;
    height: 40vh;
    display: flex;
    
    justify-content: flex-start;
    align-items: flex-start;
}

/* Card 1 */

.One
{
    width: 30vh;
    height: 40vh;
    background: linear-gradient(45deg, rgb(119, 0, 255), rgb(255, 0, 64));
    box-shadow: 1vh 2vh rgba(0, 0, 0, 0.5);
}

.CardOne
{
    transform: translateY(40vh);
    width: 30vh;
    height: 0vh;
    background: white;
    padding-left: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.One::after
{
    content: "0";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 12vh;
    width: 15vh;
    height: 40vh;
    box-shadow: 0.5vh 0vh 0.5vh rgba(122,122,122,0.5);
    position: absolute;
}

.CardOne > p,.CardOne > h1
{
    color: black;
    opacity: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.One::before
{
    content: "1";
    font-weight: 500;
    font-size: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15vh;
    height: 40vh;
    position: absolute;
    transform: translateX(15vh);
}

.One:hover > .CardOne
{
    height: 35vh;
    transition: 2s;
    transform: translateY(5vh);
}

.One:hover > .CardOne > p,.One:hover > .CardOne > h1
{
    opacity: 1;
    transition: 4s;
}

.One:hover
{
    background-position: right;
    transition: 2s;
}

.One:hover::after,.One:hover::before
{
    font-size: 4vh;
    height: 5vh;
    transition: 2s;
}

.One:not(:hover),.One:not(:hover)::after,.One:not(:hover)::before,.One:not(:hover) > .CardOne
{
    transition: 2s 0.1s;
}

.One:not(:hover) > .CardOne > p,.One:not(:hover) > .CardOne > h1
{
    transition: 1s 0.1s;
}

/* Card 2 */

.Two
{
    width: 30vh;
    height: 40vh;
    background: linear-gradient(45deg, rgb(246, 255, 0), rgb(255, 102, 0));
    box-shadow: 1vh 2vh rgba(0, 0, 0, 0.5);
}

.CardTwo
{
    transform: translateY(40vh);
    width: 30vh;
    height: 0vh;
    background: white;
    padding-left: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.Two::after
{
    content: "0";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 12vh;
    width: 15vh;
    height: 40vh;
    box-shadow: 0.5vh 0vh 0.5vh rgba(122,122,122,0.5);
    position: absolute;
}

.CardTwo > p,.CardTwo > h1
{
    color: black;
    opacity: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.Two::before
{
    content: "2";
    font-weight: 500;
    font-size: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15vh;
    height: 40vh;
    position: absolute;
    transform: translateX(15vh);
}

.Two:hover > .CardTwo
{
    height: 35vh;
    transition: 2s;
    transform: translateY(5vh);
}

.Two:hover > .CardTwo > p,.Two:hover > .CardTwo > h1
{
    opacity: 1;
    transition: 4s;
}

.Two:hover
{
    background-position: right;
    transition: 2s;
}

.Two:hover::after,.Two:hover::before
{
    font-size: 4vh;
    height: 5vh;
    transition: 2s;
}

.Two:not(:hover),.Two:not(:hover)::after,.Two:not(:hover)::before,.Two:not(:hover) > .CardTwo
{
    transition: 2s 0.1s;
}

.Two:not(:hover) > .CardTwo > p,.Two:not(:hover) > .CardTwo > h1
{
    transition: 1s 0.1s;
}

/* Card 3 */

.Three
{
    width: 30vh;
    height: 40vh;
    background: linear-gradient(45deg, rgb(0, 17, 255), rgb(21, 255, 0));
    box-shadow: 1vh 2vh rgba(0, 0, 0, 0.5);
}

.CardThree
{
    transform: translateY(40vh);
    width: 30vh;
    height: 0vh;
    background: white;
    padding-left: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Three::after
{
    content: "0";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 12vh;
    width: 15vh;
    height: 40vh;
    box-shadow: 0.5vh 0vh 0.5vh rgba(122,122,122,0.5);
    position: absolute;
}

.CardThree > p,.CardThree > h1
{
    color: black;
    opacity: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.Three::before
{
    content: "3";
    font-weight: 500;
    font-size: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15vh;
    height: 40vh;
    position: absolute;
    transform: translateX(15vh);
}

.Three:hover > .CardThree
{
    height: 35vh;
    transition: 2s;
    transform: translateY(5vh);
}

.Three:hover > .CardThree > p,.Three:hover > .CardThree > h1
{
    opacity: 1;
    transition: 4s;
}

.Three:hover
{
    background-position: right;
    transition: 2s;
}

.Three:hover::after,.Three:hover::before
{
    font-size: 4vh;
    height: 5vh;
    transition: 2s;
}

.Three:not(:hover),.Three:not(:hover)::after,.Three:not(:hover)::before,.Three:not(:hover) > .CardThree
{
    transition: 2s 0.1s;
}

.Three:not(:hover) > .CardThree > p,.Three:not(:hover) > .CardThree > h1
{
    transition: 1s 0.1s;
}

#section-3, #section-4
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

/* CardPng */


#section-4 > .CardPng1,#section-4 > .CardPng2,#section-4 > .CardPng3
{
    height: 40vh;
    width: 30vh;
    background-size: cover;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;
    box-shadow: 1vh 2vh rgba(0, 0, 0, 0.5);
}

.CardPng1 > h1, .CardPng1 > p, .CardPng2 > h1, .CardPng2 > p, .CardPng3 > h1, .CardPng3 > p
{
    padding: 1vh;
    z-index: 2;
    color: white;
    opacity: 0;
    transition: 2s;
}

.CardPng1 > button, .CardPng2 > button, .CardPng3 > button
{
    width: 10vh;
    height: 4vh;
    margin: 1vh;
    padding: 1vh;
    z-index: 2;
    background: white;
    border-radius: 0.1vh;
    border-color: white;
    color: black;
    opacity: 0;
    transition: 2s;
}

#section-4 > .CardPng1
{
    background-image: url(60412cbbdd5f2d50167c591f-1.jpg);
}

#section-4 > .CardPng2
{
    background-image: url(загружено.jpg);
}

#section-4 > .CardPng3
{
    background-image: url(bdugnvf1.jpg);
}

.CardPng1::before,.CardPng2::before,.CardPng3::before
{
    content: " ";
    opacity: 0;
    height: 40vh;
    width: 30vh;
    position: absolute;
    z-index: 1;
    transition: 2s;
}

.CardPng1::before
{
    background: linear-gradient(0deg,rgba(0, 0, 255, 1),rgba(0, 0, 255, 0.8),rgba(0, 0, 255, 0.6),rgba(0, 0, 255, 0.4),rgba(0, 0, 255, 0.2),rgba(0, 0, 255, 0.1));
}

.CardPng2::before
{
    background: linear-gradient(0deg,rgba(0, 255, 0, 1),rgba(0, 255, 0, 0.8),rgba(0, 255, 0, 0.6),rgba(0, 255, 0, 0.4),rgba(0, 255, 0,0.2),rgba(0, 255, 0,0.1));
}

.CardPng3::before
{
    background: linear-gradient(0deg,rgba(255, 0, 0, 1),rgba(255, 0, 0, 0.8),rgba(255, 0, 0, 0.6),rgba(255, 0, 0, 0.4),rgba(255, 0, 0, 0.2),rgba(255, 0, 0, 0.1));
}

.CardPng2:hover::before, .CardPng1:hover::before, .CardPng3:hover::before
{
    opacity: 1;
}

.CardPng1:hover > h1, .CardPng1:hover > p, .CardPng1:hover > button,.CardPng2:hover > h1, .CardPng2:hover > p, .CardPng2:hover > button,.CardPng3:hover > h1, .CardPng3:hover > p, .CardPng3:hover > button
{
    opacity: 1;
}

/* BigCardPng */

#section-5
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#section-5 > .BigCard1, #section-5 > .BigCard2, #section-5 > .BigCard3
{
    width: 40vh;
    height: 30vh;
    background-color: white;
    box-shadow: 1vh 2vh rgba(0, 0, 0, 0.5);
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.BigCard1 > h1, .BigCard1 > p,.BigCard2 > h1, .BigCard2 > p,.BigCard3 > h1, .BigCard3 > p
{
    margin: 1vh 2VH;
    opacity: 0;
    transition: 2s;
    transform: translateY(8vh);
    text-align: center;
}

.BigCard1::before,.BigCard2::before,.BigCard3::before
{
    content: " ";
    width: 32vh;
    height: 20vh;
    position: absolute;
    background-size: cover;
    border-radius: 1vh;
    box-shadow: 0.5vh 1vh rgba(0, 0, 0, 0.5);
    transform: translateY(-10vh);
    transition: 2s;
}

.BigCard1::before
{
    background-image: url(6232.jpg);
}

.BigCard2::before
{
    background-image: url(xbox-series-s-white_2.jpg);
}

.BigCard3::before
{
    background-image: url(559e4976c7b64d541e8bd51352765651.jpg);
}

#section-5 > .BigCard1:hover,#section-5 > .BigCard2:hover,#section-5 > .BigCard3:hover
{
    height: 50vh;
}

.BigCard1:hover::before,.BigCard2:hover::before,.BigCard3:hover::before
{
    transform: translateY(-20vh);
}

.BigCard1:hover > h1, .BigCard1:hover  > p,.BigCard2:hover  > h1, .BigCard2:hover  > p,.BigCard3:hover  > h1, .BigCard3:hover  > p
{
    opacity: 1;
    transform: translateY(0vh);
}