* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body 
{
    font-family: sans-serif;
    background: #222831;
    color: white;
}
  
header,nav,section,.content-container,footer 
{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* ========== Menu ==========*/
header 
{
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1em 8em;
    background: #161a20;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
}
  
#logo 
{
    width: 5vh;
    transition: 0.3s;
}
  
#logo:hover
{
    transform: scale(1.2);
}
  
nav 
{
    justify-content: space-between;
    width: 40%;
}
  
nav a 
{
    text-decoration: none;
    color: #fff;
    padding: 1em 2em;
    border: 1px solid transparent;
    border-radius: 0.3em;
    transition: 0.3s;
}
  
nav a:hover 
{
    border: 1px solid #f05454;
}
  
  /* ========== Hero Section ==========*/
section 
{
    width: 100%;
    height: 100vh;
}
  
/* ========== Footer ==========*/
footer 
{
    background: #161a20;
    padding: 3em;
}
  
body::-webkit-scrollbar 
{
    width: 2vh;
    border-radius: 2vh;
    background-image: linear-gradient(45deg,red,blue,yellow,green);
    background-size: auto 300%;
    background-position: top;
}

body::-webkit-scrollbar:hover
{
    transition: 2s;
    background-position: bottom;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 2vh;
    background: rgba(255, 255, 255,0.5);
}

.loader1
{
    width: 20vh;
    height: 20vh;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 85% 15% 13% 87% / 86% 89% 11% 14%;
    animation: loader1 2s infinite ease-in-out alternate;
}

@keyframes loader1 {
    0% {border-radius: 85% 15% 13% 87% / 86% 89% 11% 14%;border-color:rgb(255, 255, 255)}
    50%{border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;border-color:rgb(127, 127, 255)}
    100%{border-radius: 15% 85% 87% 13% / 14% 11% 89% 86%;border-color:rgb(0, 0, 255)}
}

.loader2
{
    width: 20vh;
    height: 20vh;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: loader2 2s infinite ease-in-out alternate;
}

@keyframes loader2 {
    0% {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;border-color:rgb(255, 255, 255)}
    50%{border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;border-color:rgb(127, 255, 127)}
    100%{border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;border-color:rgb(0, 255, 0)}
}

.loader3
{
    width: 20vh;
    height: 20vh;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
    animation: loader3 2s infinite ease-in-out alternate;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-1
{
    flex-direction: column;
}

@keyframes loader3 {
    0% {border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;border-color: rgb(255, 255, 255);}
    50%{border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;border-color: rgb(255, 127, 127);}
    100%{border-radius: 0% 110% 50% 50% / 50% 110% 0% 50%; border-color: rgb(255, 0, 0);}
}

.ContainerBlockTxt
{
    width: 100vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
}

.BlockTxt-right,.BlockTxt-top,.BlockTxt-left,.BlockTxt-bottom
{
    border: 2px solid rgb(255, 255, 255);
    width: 20vh;
    height: 10vh;
    margin: 0vh 5vh;
}

.BlockTxt-right::before,.BlockTxt-top::before,.BlockTxt-left::before,.BlockTxt-bottom::before
{
    content: "";
    width: 20vh;
    height: 10vh;
    display: block;
    background: linear-gradient(90deg,rgb(222, 222, 222),rgb(155, 155, 155));
    transform: translateX(-8vh) translateY(-2vh);
    opacity:0;
}

.BlockTxt-right::after,.BlockTxt-top::after,.BlockTxt-left::after,.BlockTxt-bottom::after
{
    color: white;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 10vh;
    display: flex;
    font-size: 3vh;
    background-image: linear-gradient(90deg,rgb(0,0,191),rgb(0, 0, 255),rgb(191,0,0),rgb(255,0,0));
    background-size: 300%;
    background-position: left;
    transform: translateX(-2vh) translateY(-12vh);
}

.BlockTxt-right::after
{
    content: "Right";
}


.BlockTxt-top::after
{
    content: "Top";
}


.BlockTxt-left::after
{
    content: "Left";
}


.BlockTxt-bottom::after
{
    content: "Bottom";
}

.BlockTxt-right:hover::after,.BlockTxt-top:hover::after,.BlockTxt-left:hover::after,.BlockTxt-bottom:hover::after
{
    transition: 1s;
    transform: translateX(2vh) translateY(-8vh);
    background-position: right;
}

.BlockTxt-right:not(:hover)::after,.BlockTxt-top:not(:hover)::after,.BlockTxt-left:not(:hover)::after,.BlockTxt-bottom:not(:hover)::after
{
    transition: 1s 0.1s;
}

